/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px; /* Add some spacing from the content above */
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
    gap: 9  0px;
  }
  
  .footer-links li a:hover {
    color: #007bff;
  }
  